<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
   </configSections>
   <connectionStrings>
      <add name="AppAutomatedIndustrialWeighingSystem.Properties.Settings.APP_DATABASE_CONNECTION_STRING"
         connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password="
         providerName="System.Data.SqlClient" />
   </connectionStrings>
</configuration>